@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/arialmt.ttf") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/Montserrat-VariableFont_wght.ttf") format("woff2");
    font-display: swap;
}

a {
    text-decoration: none;
    color: #533738;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #F6EDE9;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

h2 {
    text-transform: uppercase;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.navigation {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

.navigation-menu {
    display: flex;
    margin: 0;
    padding-top: 28px;
    list-style: none;
}

.navigation-item {
    margin-right: 26px;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 16px;
}

button {
    display: inline-block;
    box-sizing: border-box;
    padding: 25px 66px;
    font-family: inherit;
    font-size: 20px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    color: #533738;
    background-color: #CC8B86;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.button:hover, .button:focus {
    background-color: #BA7F7A;
    border: 3px solid rgba(174, 119, 115, 1);
}

.button:active {
    background-color: rgba(174, 119, 115, 1);
}

.main-offer {
    margin-top: 91px;
    line-height: 62px;
    font-size: 50px;
    text-decoration: none;
}

.page-main {
    padding-left: 220px;
    height: 740px;
    margin-left: 85px;
}

.main-main {
    background-image: url("./image/main-bg.png");
    background-repeat:no-repeat;
    background-position: 0 center;
    background-size: cover;
}

.main-about {
    line-height: 30px;
    font-size: 18px;
}

.btn.bid {
    line-height: 20px;
}

.logo::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 22px;
    left: 120px;
    background-image: url("image/logo-scandi.svg");
}

/*2 страница*/

.page-about {
    width: 1400px;
    height: 930px;
}

.about-content--text {
    text-align: center;
    font-size: 50px;
}

.about-advantages {
    display: flex;
    position: center;
    background-color: #8D7370;
    margin-top: 152px;
    justify-content: space-between;
    padding: 85px 182px 81px 182px;
    align-items: baseline;
    font-size: 50px;
    line-height: 58px;
    font-weight: 400;
    list-style-type: none;
    color: white;
}

.about-content {
    justify-content: space-between;
    align-items: center;
    margin-left: 183px;
}

.about-content-photo {
    margin: 0 64px 21px 0;
}

.about-content--main {
    margin: -490px 0 0 683px;
    font-size: 18px;
    text-align: left;
    width: 528px;
    height: 330px;
    line-height: 30px;
}

.about-advantages--exp,
.about-advantages--project,
.about-advantages--reward
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*3 страница*/

.main-portfolio {
    width: 1200px;
    margin: 65px auto;
}

.portfolio__title {
    font-size: 40px;
    line-height: 50px;
    margin: 0 0 40px;
    text-transform: uppercase;
}

.portfolio__example {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-bottom: 40px;
}

.portfolio__description {
    position: relative;
    height: 451px;
    text-align: center;
}

.portfolio__intro {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    color: white;
    background-color: rgba(100, 72, 69, 0.8);
}

.portfolio__name {
    font-size: 30px;
    line-height: 32px;
    margin: 85px 0 30px;
}

.portfolio__text {
    font-size: 18px;
    line-height: 30px;
    width: 420px;
    margin: 0 auto;
    text-align: left;
}

.portfolio__button {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 30px;

    border: none;
    background-color: transparent;

    margin: 0 auto;
    padding: 0;
}

.portfolio__button::after {
    position: absolute;
    content: "";
    width: 61px;
    height: 15px;
    background-image: url("image/arrow-for-button.svg");
    top: 12px;
    right: -70px;
}

/*4 страница*/

.team {
    background-color: #E2C4BA;
    padding: 50px 100px 35px;
}

.team__title {
    font-size: 30px;
    line-height: 50px;
    text-align: center;
    margin: 0 0 40px;
}

.team__workers {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 38px 38px;

    margin: 0;
    padding: 0;
    list-style: none;
}

.team_explain {
    text-align: center;
    margin: 0 0 35px;
}

.team_explain__advantage {
    display: flex;
    flex-wrap: nowrap;
}

.method-of-work__title {
    text-align: center;
}

.method-of-work__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

.method-of-work__item {
    list-style-type: none;
}
